header footer {
  background-color: #4B0082;
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-size: 52px;
  padding-bottom: 5px;
}

h2 {
  font-size: 40px;
  padding-top: 2px;
  padding-bottom: 3px;
}

h3 {
  font-size: 30px;
  padding-bottom: 3px;
}

body {
  background-color: #808080;
}

h1 h2 h3 {
  font-family: Cursive;
}

hr {
  height: 5px;
  background-color: #FFD700;
  margin-top: 60px;
  margin-bottom: 60px;
}
